body {
  font-family: georgia;
  margin-bottom: 2em;
  margin-top: 1em;
  margin-left: 2em;
  margin-right: 2em;
  text-align: justify;
  /* width: 35em; */
  alignment-baseline: central;
}

h1.title {
  font-size: 3em;
  text-align: center;
}

h2.author {
  text-align: center;
}

h3.date {
  text-align: center;
}